:root, :root[data-theme="light"], :root[data-theme="dark"] {
  --font-sans: Roboto, Inter, "Noto Sans SC", "PingFang SC", "Microsoft YaHei UI", "Microsoft YaHei", "Segoe UI", sans-serif !important;
  --font-condensed-sans: "Roboto Condensed", Roboto, Inter, "Noto Sans SC", "PingFang SC", "Microsoft YaHei UI", "Microsoft YaHei", "Segoe UI", sans-serif !important;
  --font-mono: "JetBrains Mono", "Roboto Mono", "Noto Sans SC", "PingFang SC", "Microsoft YaHei UI", "Microsoft YaHei", "Segoe UI", monospace !important;
}

:root[data-theme='light'] {
  --color-text: rgba(0, 0, 0, 0.75) !important;
}

:root[data-theme='dark'] {
  --color-text: rgba(255, 255, 255, 0.75) !important;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-east-asian: simplified;
  hyphenate-character: auto;
}

h1, h2, h3, h4, h5, h6, .title, .tsd-navigation, .tsd-breadcrumb, .settings-label {
  font-family: var(--font-condensed-sans);
}

.container {
  padding: 0 1rem;
}

.settings-label {
  text-transform: capitalize;
}

.tsd-signature, .tsd-type-parameter-list {
  font-family: var(--font-mono);
  font-weight: 500;
}

pre > code {
  font-weight: 500;
}

.tsd-parameter-list > li > span {
  font-family: var(--font-condensed-sans);
  font-weight: 500;
}

.page-menu {
  padding: 1.25em !important;

  .tsd-accordion-summary {
    margin-top: 0.5rem;
    padding: 0;
  }

  .tsd-accordion .tsd-accordion-summary > svg {
    right: 0rem !important;
  }
}

.tsd-page-navigation ul {
  padding-left: 1rem !important;
}

.tsd-page-navigation-section > div {
  margin-left: 0;
}

.tsd-accordion .tsd-accordion-summary > svg, .tsd-index-accordion .tsd-accordion-summary > svg {
  right: 0.5rem !important;
}

#tsd-search-input {
  padding: 0 1rem;
}

#tsd-search-results {
  & > li {
    padding: 0 0.35rem;
    border-radius: 22px;
    transition: background-color 0.33s ease;

    .text {
      --text-opacity: 0.75;
      transition: color 0.33s ease;
      color: rgb(from currentColor r g b / var(--text-opacity));

      mark {
        color: rgb(from currentColor r g b / calc(var(--text-opacity) + 0.2));
      }
    }

    .parent {
      --text-opacity: 0.5;
      font-size: 0.85em;
      color: rgb(from currentColor r g b / var(--text-opacity));
    }

    &[aria-selected="true"] {
      background-color: var(--color-accent);
    }
  }
}
